In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('C:\\Users\\ewisnios\\PycharmProjects\AI-strategies-papers-regulations-monitoring\\data\\s2orc\\results\\reduced_300_big_cleaned_mini_all-MiniLM-L6-v2_eps_0.0.parquet')

In [3]:
df.head()

,paper_id,outbound_citations,inbound_citations,institutions,countries,types,unique_institutions,is_big_tech,noun_chunks_cleaned,memes,inbound_memes,outbound_memes
paper_id,,,,,,,,,,,,
199668001,199668001,"[106476531, 67083539, 36731616, 34616216, 1096...",[],[],[],[],[],0,"[road construction project, territory, republi...","[74122, 401477, 39102, 822403, 19915, 72390, 1...",[],"[62935, 609581, 74112, 429329, 649627, 993160,..."
2879234,2879234,"[206592419, 215721, 10111903, 1003907, 3198903...","[11015941, 52160763, 199488257, 23874112, 4241...",[],[],[],[],0,"[convolutional neural net, cnn, remarkable per...","[317538, 721943, 87513, 57245, 88646, 1104378,...","[950121, 374025, 1192669, 4621, 1078165, 42907...","[429329, 861004, 80778, 40654, 35780, 124558, ..."
17786914,17786914,"[9530137, 398770, 207168299, 14832074, 1799800...",[198931159],[],[],[],[],0,"[excellent result, benchmark, acoustic modelin...","[85799, 847169, 408638, 807688, 468375, 721825...","[1287806, 813152, 822785, 383103, 4078, 975413...","[77844, 801152, 72529, 22834, 1068213, 76970, ..."
17432300,17432300,"[371064, 3246932, 8991475, 36725681, 32031694,...","[15983137, 7625356, 15404413, 199472639, 47640...",[],[],[],[],0,"[east asian character, rich hierarchical struc...","[47986, 61426, 459967, 38221, 60, 993870, 4599...","[59821, 48664, 798424, 240647, 1071811, 104140...","[561977, 50103, 17834, 899009, 14070, 960919, ..."
8392651,8392651,"[214797870, 58458964, 17936051, 12869238, 5121...","[49339994, 9108558, 55589961, 14721032, 532882...",[],[],[],[],0,"[need, machine learning task, voluminous amoun...","[1054108, 494658, 1117650, 904852, 357748, 102...","[813152, 317206, 1267854, 82022, 538831, 95012...","[555834, 835839, 593427, 53545, 51366, 593427,..."

In [3]:
is_academia = []
is_company = []
for index, paper in df.iterrows():
    if len(paper['types']) == 0:
        is_academia.append(0)
        is_company.append(0)
    else:
        paper_types = set()
        for author in paper['types']:
            for aff in author:
                paper_types.add(aff)
        if 'company' in paper_types:
            is_company.append(1)
        else:
            is_company.append(0)
        if 'education' in paper_types or 'facility' in paper_types or 'government' in paper_types:
            is_academia.append(1)
        else:
            is_academia.append(0)

In [4]:
df['is_academia'] = is_academia
df['is_company'] = is_company

In [12]:
df.head()

,paper_id,outbound_citations,inbound_citations,institutions,countries,types,unique_institutions,is_big_tech,noun_chunks_cleaned,memes,inbound_memes,outbound_memes,is_academia,is_company
paper_id,,,,,,,,,,,,,,
199668001,199668001,"[106476531, 67083539, 36731616, 34616216, 1096...",[],[],[],[],[],0,"[road construction project, territory, republi...","[74122, 401477, 39102, 822403, 19915, 72390, 1...",[],"[62935, 609581, 74112, 429329, 649627, 993160,...",0,0
2879234,2879234,"[206592419, 215721, 10111903, 1003907, 3198903...","[11015941, 52160763, 199488257, 23874112, 4241...",[],[],[],[],0,"[convolutional neural net, cnn, remarkable per...","[317538, 721943, 87513, 57245, 88646, 1104378,...","[950121, 374025, 1192669, 4621, 1078165, 42907...","[429329, 861004, 80778, 40654, 35780, 124558, ...",0,0
17786914,17786914,"[9530137, 398770, 207168299, 14832074, 1799800...",[198931159],[],[],[],[],0,"[excellent result, benchmark, acoustic modelin...","[85799, 847169, 408638, 807688, 468375, 721825...","[1287806, 813152, 822785, 383103, 4078, 975413...","[77844, 801152, 72529, 22834, 1068213, 76970, ...",0,0
17432300,17432300,"[371064, 3246932, 8991475, 36725681, 32031694,...","[15983137, 7625356, 15404413, 199472639, 47640...",[],[],[],[],0,"[east asian character, rich hierarchical struc...","[47986, 61426, 459967, 38221, 60, 993870, 4599...","[59821, 48664, 798424, 240647, 1071811, 104140...","[561977, 50103, 17834, 899009, 14070, 960919, ...",0,0
8392651,8392651,"[214797870, 58458964, 17936051, 12869238, 5121...","[49339994, 9108558, 55589961, 14721032, 532882...",[],[],[],[],0,"[need, machine learning task, voluminous amoun...","[1054108, 494658, 1117650, 904852, 357748, 102...","[813152, 317206, 1267854, 82022, 538831, 95012...","[555834, 835839, 593427, 53545, 51366, 593427,...",0,0

In [5]:
FAANG = {'Adobe Systems': [], 'Alibaba Group': [], 'Amazon': [], 'Facebook': [], 'Google': [], 'Huawei Technologies': [], 'IBM': [], 'Intel': [], 'Microsoft': [], 'Nvidia': [], 'Samsung': [], 'Siemens': [], 'Tencent': [], 'Yahoo': []}
for index, paper in df.iterrows():
    for key in FAANG.keys():
        if key in paper['unique_institutions']:
            FAANG[key].append(1)
        else:
            FAANG[key].append(0)

In [6]:
for key in FAANG.keys():
    df[key] = FAANG[key]

In [17]:
df.head()

,paper_id,outbound_citations,inbound_citations,institutions,countries,types,unique_institutions,is_big_tech,noun_chunks_cleaned,memes,...,Google,Huawei Technologies,IBM,Intel,Microsoft,Nvidia,Samsung,Siemens,Tencent,Yahoo
paper_id,,,,,,,,,,,,,,,,,,,,,
199668001,199668001,"[106476531, 67083539, 36731616, 34616216, 1096...",[],[],[],[],[],0,"[road construction project, territory, republi...","[74122, 401477, 39102, 822403, 19915, 72390, 1...",...,0,0,0,0,0,0,0,0,0,0
2879234,2879234,"[206592419, 215721, 10111903, 1003907, 3198903...","[11015941, 52160763, 199488257, 23874112, 4241...",[],[],[],[],0,"[convolutional neural net, cnn, remarkable per...","[317538, 721943, 87513, 57245, 88646, 1104378,...",...,0,0,0,0,0,0,0,0,0,0
17786914,17786914,"[9530137, 398770, 207168299, 14832074, 1799800...",[198931159],[],[],[],[],0,"[excellent result, benchmark, acoustic modelin...","[85799, 847169, 408638, 807688, 468375, 721825...",...,0,0,0,0,0,0,0,0,0,0
17432300,17432300,"[371064, 3246932, 8991475, 36725681, 32031694,...","[15983137, 7625356, 15404413, 199472639, 47640...",[],[],[],[],0,"[east asian character, rich hierarchical struc...","[47986, 61426, 459967, 38221, 60, 993870, 4599...",...,0,0,0,0,0,0,0,0,0,0
8392651,8392651,"[214797870, 58458964, 17936051, 12869238, 5121...","[49339994, 9108558, 55589961, 14721032, 532882...",[],[],[],[],0,"[need, machine learning task, voluminous amoun...","[1054108, 494658, 1117650, 904852, 357748, 102...",...,0,0,0,0,0,0,0,0,0,0

In [7]:
baskets_outbound_all = []
for index, paper in df.iterrows():
    baskets_outbound = []
    for meme in paper['memes']:
        baskets_outbound.append(str(meme))
    for meme in paper['outbound_memes']:
        baskets_outbound.append('o_'+str(meme))
    if paper['is_big_tech'] == 1:
        baskets_outbound.append('bigtech')
        for key in FAANG.keys():
            if key in paper['unique_institutions']:
                baskets_outbound.append(key)
    if paper['is_academia'] == 1:
        baskets_outbound.append('academia')
    if paper['is_company'] == 1:
        baskets_outbound.append('company')
    baskets_outbound_all.append(baskets_outbound)

In [8]:
df['baskets_outbound'] = baskets_outbound_all

In [22]:
df.head()

,paper_id,outbound_citations,inbound_citations,institutions,countries,types,unique_institutions,is_big_tech,noun_chunks_cleaned,memes,...,Huawei Technologies,IBM,Intel,Microsoft,Nvidia,Samsung,Siemens,Tencent,Yahoo,baskets_outbound
paper_id,,,,,,,,,,,,,,,,,,,,,
199668001,199668001,"[106476531, 67083539, 36731616, 34616216, 1096...",[],[],[],[],[],0,"[road construction project, territory, republi...","[74122, 401477, 39102, 822403, 19915, 72390, 1...",...,0,0,0,0,0,0,0,0,0,"[74122, 401477, 39102, 822403, 19915, 72390, 1..."
2879234,2879234,"[206592419, 215721, 10111903, 1003907, 3198903...","[11015941, 52160763, 199488257, 23874112, 4241...",[],[],[],[],0,"[convolutional neural net, cnn, remarkable per...","[317538, 721943, 87513, 57245, 88646, 1104378,...",...,0,0,0,0,0,0,0,0,0,"[317538, 721943, 87513, 57245, 88646, 1104378,..."
17786914,17786914,"[9530137, 398770, 207168299, 14832074, 1799800...",[198931159],[],[],[],[],0,"[excellent result, benchmark, acoustic modelin...","[85799, 847169, 408638, 807688, 468375, 721825...",...,0,0,0,0,0,0,0,0,0,"[85799, 847169, 408638, 807688, 468375, 721825..."
17432300,17432300,"[371064, 3246932, 8991475, 36725681, 32031694,...","[15983137, 7625356, 15404413, 199472639, 47640...",[],[],[],[],0,"[east asian character, rich hierarchical struc...","[47986, 61426, 459967, 38221, 60, 993870, 4599...",...,0,0,0,0,0,0,0,0,0,"[47986, 61426, 459967, 38221, 60, 993870, 4599..."
8392651,8392651,"[214797870, 58458964, 17936051, 12869238, 5121...","[49339994, 9108558, 55589961, 14721032, 532882...",[],[],[],[],0,"[need, machine learning task, voluminous amoun...","[1054108, 494658, 1117650, 904852, 357748, 102...",...,0,0,0,0,0,0,0,0,0,"[1054108, 494658, 1117650, 904852, 357748, 102..."

In [9]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [18]:
transactions = df['baskets_outbound']

In [16]:
df = df[df['institutions'].map(lambda d: len(d)) > 0]

In [20]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
transactions_df = pd.DataFrame(te_ary, columns=te.columns_)

In [ ]:
transactions_df.to_parquet('outbound_baskets.parquet')